.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
  min-height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: white;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

mat-toolbar {
  height: 40px;
}
