mat-spinner {
  margin: 100px auto;
}
.mat-tab-group-container{
  display: flex;
  justify-content: center;
}

.color-container {
  display: flex;
  margin: auto;
  width: fit-content;
}

.colors {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.color-image {
  height: 100%;
  margin: auto;
}

#card {
  width: fit-content;
  height: fit-content;
  margin: auto;
}

.card-border {
  width: 59mm;
  height: 91mm;
  border: 1px solid;
  border-radius: 6mm;
  margin: auto;
  display: flex;
  justify-content: center;
}

.bottom {
  transform: rotate(180deg);
}
