<div class="container">
    <h1>Készítsd el egyedi magyar kártya paklidat!</h1>
    <p>
        A szerkesztőben töltsd fel kedvenc képeidet, állítsd be őket a kívánt pozícióba és a megfelelő méretre, majd mentsd el. Ha az összessel megvagy, töltsd le a nyomtatható fájlt. A pdf generálása egy kis időbe telhet, ez a készüléked teljesítményétől függ. Ha ezzel megvagy, nyomtasd ki a fájlt. Ezután vágd ki a lapokat és indulhat a játék!
    </p>
    <p>
        Ha regisztrálsz, terveidet el tudod menteni, amiket később szerkeszthetsz vagy újra kinyomtathasz.
    </p>
</div>
